@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black_primary: #0c1c2e;
  --black_secondary: #212121;
  --black_tertiary: #0c1c2e;
  --white_primary: #ffffff;
  --white_secondary: #dedede;
  --white_tertiary: #f7e4e7;
  --cyan_primary: #6fdbd4;
  --grey_primary: #f7e4e7;
  --grey_secondary: #a5aea8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black_primary: var(--black_primary);
  --color-black_secondary: var(--black_secondary);
  --color-black_tertiary: var(--black_tertiary);
  --color-white_primary: var(--white_primary);
  --color-white_secondary: var(--white_secondary);
  --color-white_tertiary: var(--white_tertiary);
  --color-cyan_primary: var(--cyan_primary);
  --color-grey_primary: var(--grey_primary);
  --color-grey_secondary: var(--grey_secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

@layer components {
  .h1 {
    @apply font-bold text-[42px] md:text-[56px];
  }

  .h2 {
    @apply font-bold text-[36px] md:text-[43px];
  }

  .h3 {
    @apply text-[24px] md:text-[32px];
  }

  .h4 {
    @apply font-semibold text-[20px] md:text-[30px];
  }

  .h5 {
    @apply font-semibold text-[14px] md:text-[20px];
  }

  .p1 {
    @apply text-[18px] md:text-[36px] font-light;
  }

  .p2 {
    @apply text-[14px] md:text-[18px];
  }

  .p3 {
    @apply text-[12px] md:text-[14px];
  }

  .p4 {
    @apply text-[12px];
  }

  .btn-text {
    @apply font-semibold text-[16px];
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .swiper-pagination {
          position: absolute !important;
          bottom: 32px !important;
          left: 50% !important;
          transform: translateX(-50%) !important;
          width: auto !important;
          display: flex !important;
          justify-content: center !important;
          gap: 8px !important;
          z-index: 10 !important;
        }

  
}
